<%@ Master Language="C#" MasterPageFile="~/masterpages/uBlogsyBase.master" AutoEventWireup="true" %>

<asp:Content ContentPlaceHolderID="ContentPlaceHolderDefault" runat="server">
    
    <umbraco:Macro runat="server" Language="razor">
    @{
        string hash = Model.Url.Replace(Model.Parent.Url, string.Empty);
        string url = Model.Parent.Parent.Url + "#!/" + hash;
        Response.Redirect(url);
    }
    </umbraco:Macro>
</asp:Content>