<uBlogsySettings>
    <dateFolders enabled="false">
        
        <!-- Valid values: M MM MMM MMMM == 3 03 Mar March -->
        <monthFormat>MMMM</monthFormat> 
        
        <!-- Valid formats: d dd == 9 09 -->
        <dayFormat>dd</dayFormat>
    </dateFolders>


    <comments>
        <!-- send notification email to subscribers when you re-publish a comment from the back office - set to true or false -->
        <sendNotificationOnRepublish>true</sendNotificationOnRepublish>
    </comments>
</uBlogsySettings>