@using uBlogsy.BusinessLogic;
<script type="text/javascript">
    $(document).ready(function(){

        $('#btnSearch').click(function(){
            @{var landing = DataService.Instance.GetLanding(Model.Id); }
            window.location.href = "@landing.Url" + '?search=' + $("#txtSearch").val();
            return false;
        });

        $('#txtSearch').click(function(){
            if ($(this).val() == 'Search'){
                $(this).val(''); 
            };
        });

         $('#txtSearch').blur(function(){
            if ($(this).val() == ''){
                $(this).val('Search'); 
            };
        });
    });
</script>
<div class="uBlogsy_search">
    <input id="txtSearch" type="text" value="@Dictionary["uBlogsyDicSearch"]" />
    <input id="btnSearch" type="submit" value="@Dictionary["uBlogsyDicSearchSubmit"]"  />
</div>
