@using uBlogsy.BusinessLogic;
@{
    // get title of page
    var landing = DataService.Instance.GetLanding(Model.Id);
    string title = landing.uBlogsyContentTitle;
    if (Model.Id != landing.Id){
        title += " : " + Model.uBlogsyContentTitle;
    }
    <title>@title</title>
}